body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#drawArea {
    display: flex;
    flex-wrap: wrap;

    box-sizing: content-box;
    justify-content: space-around;

    width: 720px;
    height: 720px;
    border: 3px solid gray;

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.square {
    border: 1px solid whitesmoke;
    background-color: transparent;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

#options {
    display: flex;
    flex-direction: row;
    margin-top: -10px;
    margin-bottom: 10px;
}

#optionsOriginalInputs {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-top: -10px;
    margin-bottom: 10px;
    justify-content: space-around;
    min-width: 720px;
}

#colorPickersDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.colorPicker {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 20px;
}

#gridSizeNumberInput {
    margin: auto;
}

label {
    font-size: 12px;
}

legend {
    margin: 0 auto;
}

fieldset {
    display: flex;
}